!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title Sinatra Bootstrap
    %link{:href=>'/stylesheets/jquery-ui-1.8.16.custom.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/jquery-ui-1.8.16.custom.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/jquery-1.6.2.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/application.js"}


  %body
    = partial :_nav_main
    = yield
    = partial :_analytics
