.topbar
  .fill
    .container
      %a.brand{:href => "/"} CENTRO ACADEMICO XXIII DE ABRIL
      %ul.nav
        %li
          %a{:href => "/sugestoes"} Sugest&otilde;es
        %li
          %a{:href => "http://www.facebook.com/pages/Galera-que-vota-INTEGRAL/201750899906651"} Facebook
