.topbar
  .fill
    .container
      %a.brand{:href => "/"} Centro Academico | FATEC-SP
      %ul.nav
        %li
          %a{:href => "/sugestoes"} Sugest&otilde;es
        %li
          %a{:href => "/destaques"} Destaques
        %li
          %a{:href => "/tweets"} Tweets
        %li
          %a{:href => "http://www.facebook.com/pages/Galera-que-vota-INTEGRAL/201750899906651"} Facebook
