%a.back_btn.btn{:href => "/"} Voltar
-if user_admin?
  %a.back_btn.btn{:href=>"/destaques/novo"}novo
%h1 Destaques
-if destaques.empty?
  %h4{:style=>"color:grey;"} Nenhuma noticia foi postada ainda :(
-else
  -destaques.each do |destaque|
    %a{:href=>"/destaques/#{destaque.id}/ver"}
      .row{:style=>"border-top: #EEE solid 1px;margin-top: 15px;"}
        %h3=destaque.title
        .row{:style=>"color:#BFBFBF;"}
          -if destaque.content.length > 140
            %p.span14=destaque.content.slice(0..140) + "..."
          -else
            %p.span14=destaque.content
    -if user_admin?
      %a{:href=>"/destaques/#{destaque.id}/deletar"}Deletar
      %a{:href=>"/destaques/#{destaque.id}/editar"}Editar
