%h1 Editar Destaque
#content
  %form{ :action => "", :method => "post"}
    %fieldset
      .clearfix
        %label{:for => "title"} Titulo:
        .input
          %input.xlarge{:type => "text", :name => "title", :class => "text", :value => destaque.title}
      .clearfix
        %label{:for => "content"} Conteudo:
        .input
          %textarea.xlarge{:name => "content",:rows=>"7", :class => "span9"}=destaque.content
      .actions
        %input.btn.success.xlarge{:type => "submit", :value => "Enviar", :class => "button"}
