%h1
  #Title
    Integral
.index
  #content
    %h2 Destaques:
    %h3 O CA da Chapa Integral em 2011 pode não ter sido tão presentes esse semestre dentro dele e pede desculpas por isso, uma vez que muitos dos membros são alunos , assistem as aulas , trabalham e mesmo assim conseguiram realizar grandes feitos.Contudo para resolver as questões dos alunos, entre outras, deve-se sim pesquisar ir em diversos lugares e resolve-las, pois não é vivendo dentro do CA que os membros irão resolver os problemas dos alunos. Claro que a Chapa pretende ser mais presente em 2012 caso ganhe as eleições. Os membros da CHAPA INTEGRAL de hipótese alguma faz parte do grupo de alunos que vivem na sala de videogame do CA e que acabam por fazer coisas irregulares como fumar narguilé, e transformaram a sala que deveria ser entretenimento para todos os alunos em um clubinho deles. CA deve zelar por todos os alunos da FATEC, por isso acabou por não tomar medidas drásticas em relação a isso pois ele tinha muitos outros assuntos importantíssimos para resolver. Obrigado pela atenção e espero que leiam oque o CA realizou durante o período de 2011 e analisar as propostas de 2012 para julgar se nossa CHAPA é digna do seu voto. Pois o aluno deve analisar qual chapa fara a diferença para sua faculdade.

