%script{:type => "text/javascript", :src => "javascripts/feeder.js"}
%h1
  #Title
    Integral
.index
  #content
    %h2 Destaques:
    %h3
      %img{:src => "/images/loading.gif", :class => "loading"}
