%h1 Membros

.membros
  #content
    %ul
      %li
        %img{:src => "/images/membros/275796_100001389634253_908427849_n.jpg", :height => "100", :width =>"100"}
        %h2 Felippe Rossello
      %li
        %img{:src => "/images/membros/260740_100002051469201_1515068028_n.jpg", :height => "100", :width =>"100" }
        %h2 Tora
