%h2 Sugest&otilde;es
.sugestoes
  #content
    %form{ :action => "", :method => "post"}
      %fieldset
        .clearfix
          %label{:for => "name"} Nome:
          .input
            %input.xlarge{:type => "text", :name => "name", :class => "text"}
        .clearfix
          %label{:for => "mail"} Email:
          .input
            %input.xlarge{:type => "text", :name => "mail", :class => "text"}
        .clearfix
          %label{:for => "message"} Mensagem:
          .input
            %textarea.xlarge{:name => "message",:rows=>"7"}
        .actions
          %input.btn.success.xlarge{:type => "submit", :value => "Enviar", :class => "button"}
