html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  color: #3366cc;
}
a:hover {
  color: #3366cc;
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

body {
  font: 13px Arial, Helvetica, sans-serif;
  background: center top url(../images/page_bkg.gif);
  color: #0d0d0d;
  font-size: 18px;
}
body #main {
  border-top: 2px solid black;
}
body #main h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: -40px;
  text-align: center;
  width: 100%;
}
body #main h1 #Title {
  font-size: 90px;
  margin-top: -90px;
  margin-left: -500px;
  font-style: italic;
}
body #top img {
  margin-top: 10px;
  margin-left: 20px;
}
body #top ul {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  background: #e7e7e7;
  border: 1px solid #cccccc;
  margin-top: 60px;
  margin-left: 70%;
}
body #top ul li {
  display: inline;
  line-height: 30px;
  padding: 0 15px;
}
body #top ul li a {
  color: black;
  text-decoration: none;
}
body #top ul li a:hover {
  text-decoration: underline;
}
body .sugestoes {
  margin: 0 auto;
  padding: 14px;
  width: 700px;
}
body .sugestoes label {
  display: block;
  font-weight: bold;
  width: 140;
}
body .sugestoes input {
  font-size: 18px;
  width: 300px;
  margin-bottom: 15px;
}
body .sugestoes input.button {
  width: 700px;
}
body .sugestoes textarea {
  font-size: 18px;
  width: 700px;
  margin-bottom: 15px;
  height: 80px;
}
body .membros {
  margin: 0 auto;
  width: 700px;
}
body .propostas {
  margin: 0 auto;
  width: 700px;
}
body .propostas ul {
  list-style-type: circle;
}
body .propostas ul li {
  margin-bottom: 15px;
}
body .index {
  margin: 0 auto;
  width: 700px;
}
body .index h2 {
  font-weight: bold;
  font-size: 30px;
}
body #notice {
  position: absolute;
  margin: 0 33%;
  color: white;
  width: 33%;
  text-align: center;
  background-color: #43628b;
  border: 1px solid white;
}
